* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: white;
}

button {
    padding: 0.5rem 1rem;
    margin: 1em auto;
}

h1,p {
    text-shadow: 0px 1px 12px #000000;
}
p{
    font-size: 1.2rem;
}